# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
.env/
ENV/
.venv/
.env.bak
.envrc

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pytest
.cache/

# coverage reports
.coverage
.coverage.*
*.cover
*.py,cover

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Log files
*.log

# Miscellaneous
*.swp
*.swo

# Environment variables
*.env
